Form Processing/definition.json
{"name":"f5720b23-5106-4525-a241-af6d59e28c37","id":"/providers/Microsoft.Flow/flows/f5720b23-5106-4525-a241-af6d59e28c37","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Knightrider request notifier","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"146bee7e-7ea8-4049-b786-5a3f1e9d84d4","type":"User","tenantId":"0c5638da-d686-4d6a-8df4-e0552c70cb17"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-29T08:21:31.4332647Z","connectionKeySavedTimeKey":"2024-08-29T08:21:31.4332647Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"0589dafc-3902-49d9-b69d-6e1771553086"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"2jhWDIbWak2N9OBVLHDLF3WRyDZlZi5Ktz7P1wSXbYFUOTk5OUxPTEJMNk40SkNVUFdWQ0gyVExKViQlQCN0PWcu"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"be6d128c-88bc-42e0-b563-f779ffd26ab1"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"2jhWDIbWak2N9OBVLHDLF3WRyDZlZi5Ktz7P1wSXbYFUOTk5OUxPTEJMNk40SkNVUFdWQ0gyVExKViQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Send_respondent_email":{"runAfter":{"File_Upload_Condition":["Succeeded"]},"metadata":{"operationMetadataId":"7cc63b4c-48ac-419b-a4e1-1d8ff6d0ca84"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_response_details')?['responder']","emailMessage/Subject":"@{outputs('Compose')} - Knightrider Feedback Acknowledgement","emailMessage/Body":"<p class=\"editor-paragraph\">Hello,</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Thank you for submitting a request through our form. Your request has been assigned to a member of the data team and they will begin working on it shortly.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Please take note of your response ID as this may be referenced in future communications.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Response ID: </strong></b>@{outputs('Compose')}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Feedback Subject:</strong></b> @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"48cd2912-0a35-47fb-b3cd-86bcd8f49955"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@body('Get_response_details')?['responder']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"Compose","inputs":"@concat('POWERBI', substring(string(add(10000, int(rand(0, 89999)))), 0, 5))\r\n"},"File_Upload_Condition":{"actions":{"File_Upload_True":{"type":"SetVariable","inputs":{"name":"UploadFile","value":"True"}},"Urgency_High_or_Med_FT":{"actions":{"High_Urgency_1":{"metadata":{"operationMetadataId":"f7535d58-5030-4239-99c9-f9533551de65"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"CYQDR_mZ6UWcSTA7FlOeHmQAM946","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"High_Urgency_Notifier_1":{"runAfter":{"High_Urgency_Update_1":["Succeeded"]},"metadata":{"operationMetadataId":"e80d5973-a1d5-4181-a64a-451060d9a9f0"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">@{body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']} urgency task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: File/s has been uploaded. Check Form </p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"High_Urgency_Update_1":{"runAfter":{"High_Urgency_1":["Succeeded"]},"metadata":{"operationMetadataId":"46e616a7-a2bc-44b1-b979-b2df97e166d3"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('High_Urgency_1')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"File_Upload_True":["Succeeded"]},"else":{"actions":{"Medium_Condition_FT":{"actions":{"Medium_Urgency_1":{"metadata":{"operationMetadataId":"9aa8d0c9-43cd-41a0-b4f9-6bbe6792eb55"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"0gE7LAG36kmG5tOpM-Q5BGQAPK56","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"Medium_Urgency_Update_1":{"runAfter":{"Medium_Urgency_1":["Succeeded"]},"metadata":{"operationMetadataId":"b9462abd-1ca6-4d7b-9992-e5db25e9e6c0"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Medium_Urgency_1')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n","body/references":[]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"Medium_Urgency_Notifier_1":{"runAfter":{"Medium_Urgency_Update_1":["Succeeded"]},"metadata":{"operationMetadataId":"c6407446-fecc-4bcf-b43f-997f573fc69a"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">@{body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']} urgency task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: File/s has been uploaded. Check Form</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Urgency_Low_FT":{"actions":{"Low_Urgency_1":{"metadata":{"operationMetadataId":"7a0d1bd3-8e6c-4587-b636-6cba7e5e3e1a"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"1rTnlHemkkSNnYc865BjsWQADXOj","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"Low_Urgency_Update_1":{"runAfter":{"Low_Urgency_1":["Succeeded"]},"metadata":{"operationMetadataId":"e0595ddf-6c26-49d0-be17-0fd0b96de686"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Low_Urgency_1')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n","body/references":[]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"Low_Urgency_Notifier_1":{"runAfter":{"Low_Urgency_Update_1":["Succeeded"]},"metadata":{"operationMetadataId":"2277dd5a-91ab-4af5-8156-bc0eaaa24606"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">@{body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']} urgency task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: File/s has been uploaded. Check Form</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Change_Request_1":{"metadata":{"operationMetadataId":"16da2d4e-a772-454b-bca5-6dd57d69b3a5"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"8xesgq1JxE-JQqbX0sB1vmQANf3H","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"Change_Request_Update_1":{"runAfter":{"Change_Request_1":["Succeeded"]},"metadata":{"operationMetadataId":"bc813e3f-75e0-4088-be7d-a7cae0fab5ff"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Change_Request_1')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent Name: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n","body/references":[]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"Change_Request_Notifier_1":{"runAfter":{"Change_Request_Update_1":["Succeeded"]},"metadata":{"operationMetadataId":"3032e952-f6f2-4898-bf38-3ed9c1ba2cd2"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">New task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: File/s has been uploaded. Check Form</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']","Low"]}]},"metadata":{"operationMetadataId":"23714d95-fb91-44ee-97ae-c7b7ef1272c7"},"type":"If"}}},"expression":{"and":[{"contains":["@body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']","Medium"]}]},"metadata":{"operationMetadataId":"feaedb1b-8381-4a16-954d-0201b889dd13"},"type":"If"}}},"expression":{"and":[{"contains":["@body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']","High"]}]},"metadata":{"operationMetadataId":"eea27203-eb3b-42db-b363-c2c3f9d1dbfb"},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Urgency_High_or_Med_FF":{"actions":{"High_Urgency_2":{"metadata":{"operationMetadataId":"f7535d58-5030-4239-99c9-f9533551de65"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"CYQDR_mZ6UWcSTA7FlOeHmQAM946","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"High_Urgency_Notifier_2":{"runAfter":{"High_Urgency_Update_2":["Succeeded"]},"metadata":{"operationMetadataId":"e80d5973-a1d5-4181-a64a-451060d9a9f0"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">@{body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']} urgency task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: No files have been uploaded.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"High_Urgency_Update_2":{"runAfter":{"High_Urgency_2":["Succeeded"]},"metadata":{"operationMetadataId":"46e616a7-a2bc-44b1-b979-b2df97e166d3"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('High_Urgency_2')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"File_Upload_False":["Succeeded"]},"else":{"actions":{"Medium_Condition_FF":{"actions":{"Medium_Urgency_2":{"metadata":{"operationMetadataId":"9aa8d0c9-43cd-41a0-b4f9-6bbe6792eb55"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"0gE7LAG36kmG5tOpM-Q5BGQAPK56","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"Medium_Urgency_Update_2":{"runAfter":{"Medium_Urgency_2":["Succeeded"]},"metadata":{"operationMetadataId":"b9462abd-1ca6-4d7b-9992-e5db25e9e6c0"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Medium_Urgency_2')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n","body/references":[]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"Medium_Urgency_Notifier_2":{"runAfter":{"Medium_Urgency_Update_2":["Succeeded"]},"metadata":{"operationMetadataId":"c6407446-fecc-4bcf-b43f-997f573fc69a"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">@{body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']} urgency task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: No files have been uploaded.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Urgency_Low_FF":{"actions":{"Low_Urgency_2":{"metadata":{"operationMetadataId":"7a0d1bd3-8e6c-4587-b636-6cba7e5e3e1a"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"1rTnlHemkkSNnYc865BjsWQADXOj","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"Low_Urgency_Update_2":{"runAfter":{"Low_Urgency_2":["Succeeded"]},"metadata":{"operationMetadataId":"e0595ddf-6c26-49d0-be17-0fd0b96de686"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Low_Urgency_2')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n","body/references":[]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"Low_Urgency_Notifier_2":{"runAfter":{"Low_Urgency_Update_2":["Succeeded"]},"metadata":{"operationMetadataId":"2277dd5a-91ab-4af5-8156-bc0eaaa24606"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">@{body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']} urgency task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: No files have been uploaded.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Change_Request_2":{"metadata":{"operationMetadataId":"16da2d4e-a772-454b-bca5-6dd57d69b3a5"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/planId":"sAV52NVl7Eiboxg6tYEqbmQAF0by","body/title":"@{outputs('Compose')} - @{body('Get_response_details')?['r626a0ef75ed74c5680a1fa53a2c30d47']} - @{body('Get_response_details')?['r85001fa7d2fa41718e1f32e7f16a5da6']}","body/bucketId":"8xesgq1JxE-JQqbX0sB1vmQANf3H","body/assignments":"efalcao@estee.com;rhill1@estee.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"Change_Request_Update_2":{"runAfter":{"Change_Request_2":["Succeeded"]},"metadata":{"operationMetadataId":"bc813e3f-75e0-4088-be7d-a7cae0fab5ff"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Change_Request_2')?['body/id']","body/description":"Response ID: @{outputs('Compose')}\nRespondent Name: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}\nPage Name: @{body('Get_response_details')?['r07d76346a1ca4477bd43c74bba92121d']}\n\nRequest Description: @{body('Get_response_details')?['rdca6eaef19734b26bc25dd6f8dc0d89a']}\n","body/references":[]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"Change_Request_Notifier_2":{"runAfter":{"Change_Request_Update_2":["Succeeded"]},"metadata":{"operationMetadataId":"3032e952-f6f2-4898-bf38-3ed9c1ba2cd2"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"36c89175-6665-4a2e-b73e-cfd704976d81","body/recipient/channelId":"19:gSh7gmY9DGIMAWxOGPFfuHiYJkgTaLhSdg6w0Yqm2HU1@thread.tacv2","body/messageBody":"<p class=\"editor-paragraph\">New task created.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response Title: @{outputs('Get_response_details')?['body/r85001fa7d2fa41718e1f32e7f16a5da6']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Response ID: @{outputs('Compose')}</p><p class=\"editor-paragraph\">Respondent: @{outputs('Get_user_profile_(V2)')?['body/givenName']} @{outputs('Get_user_profile_(V2)')?['body/surname']}</p><p class=\"editor-paragraph\">File Status: No files have been uploaded.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']","Low"]}]},"metadata":{"operationMetadataId":"23714d95-fb91-44ee-97ae-c7b7ef1272c7"},"type":"If"}}},"expression":{"and":[{"contains":["@body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']","Medium"]}]},"metadata":{"operationMetadataId":"feaedb1b-8381-4a16-954d-0201b889dd13"},"type":"If"}}},"expression":{"and":[{"contains":["@body('Get_response_details')?['rb88469fda596453c91cd137ebb2e5143']","High"]}]},"metadata":{"operationMetadataId":"eea27203-eb3b-42db-b363-c2c3f9d1dbfb"},"type":"If"},"File_Upload_False":{"type":"SetVariable","inputs":{"name":"UploadFile","value":"False"}}}},"expression":{"and":[{"equals":["@variables('UploadFile')","@not(empty(variables('UploadFile')))"]}]},"type":"If"},"Initialize_variable":{"runAfter":{"Compose":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UploadFile","type":"string","value":"False"}]}}},"outputs":{},"description":"When a response is submitted to the Knightrider Request Form a notification is sent to members of @Power Bi God & Goddess. The notification tells users that a new response has been submitted and a task has been added to their planner, containing the response ID and other details. This also contains an email action which will send an email to the person who fills in the form. The first condition tells the members of PBI God/Goddess if a file has been uploaded or not."},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-d40c8d38-cce6-44f3-9f9b-4f3370927044","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-3179e058-902f-4c66-a5b1-8e88e24c96f7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-03f449b9-094d-43e1-afe4-f835b6903206","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_planner":{"connectionName":"shared-planner-621e8bc1-bab6-4f5f-ab66-9df48fb4b13a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-d4dba52a-4e91-40eb-a380-4924059f258f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}